services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
      - "8848:8848"
    volumes:
      - /home/docker_user/Webapp/Data/web-gallery:/data
      - .env:/app/.env
    env_file:
      - .env
    environment:
      - LOG_PATH=/data/logs/backend.log
    networks:
      - docker-net
    restart: unless-stopped

networks:
  docker-net:
    external: true
